h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
    font-family: 'Work Sans', sans-serif;
}

hr {
    border-width: 2px;
    border-color: #2d3c49;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

article {
    font-size: 18px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*New custom classes*/

.logo {
    padding-top: 5%;
}

/*Responsiveness for Galaxy Nexus 5*/

@media screen and (max-width: 400px) {
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .center_small {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Responsiveness for iPad*/

@media screen and (min-width: 401px) and (max-width: 768px) {

    .project_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .center_medium {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}